src/com/haxademic/app/haiblobs
src/com/haxademic/app/ophelias
src/com/haxademic/app/dancelab
src/com/haxademic/app/thegrove
src/com/haxademic/app/hike
bin/
output/
lib/
data/text/prefs
data/text/keystoning
www/dashboard/projects
*ignore*
*_sketch*
*Thumbs.db
.DS_Store
bin/
captured.png
