:root * {
  --height: 40px;
  --width: 80px;
  --slider-height: calc(var(--height) - 2px);
  --slider-width: calc(var(--width) - 2px);
  --background: #2a2a2a;
  --color: #ffffff;
  --radius: 4px;
  --border-color: #999999;
  --border: 1px solid var(--border-color);
  --margin: 0 0 20px;
}

:root #R {
  --background: #302625;
  --color: #ff4530;
  --border: 1px solid var(--color);
}

:root #G {
  --background: #283025;
  --color: #60ff30;
  --border: 1px solid var(--color);
}

:root #B {
  --background: #252c30;
  --color: #30b2ff;
  --border: 1px solid var(--color);
}

* {
  outline: none;
}

body {
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#server-response {
  /* display: none; */
}

#server-response h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 10rem 0 1rem;
}

#log-inline {
  width: 100%;
  height: 200px;
}

.container {
  margin: 0;
  max-width: 100%;
  padding: 40px 20px;
}

.width-100 {
  width: 100%;
}

.width-33 {
  width: calc(100% / 3) !important;
}

.width-25 {
  width: 25% !important;
}

.width-13 {
  width: 12.5% !important;
}


/*****************************
Sliders
*****************************/

input[type=range] {
  -webkit-appearance: none;
  height: var(--height);
  margin: var(--margin);
  position: relative;
}

input[type=range]::before {
  content: attr(id) ': ' attr(data-value);
  position: absolute;
  top: -0.7rem;
  left: 0;
  color: var(--color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

input[type=range]::-webkit-slider-thumb {
  width: 100% ; 
  max-width: var(--slider-width);
  border: none;
  border-radius: calc(var(--radius) - 1px);
  background: var(--color);
  cursor: pointer;
  -webkit-appearance: none;
}

/*****************************
Buttons
*****************************/

.btn {
  display: inline-block;
  background-color: var(--background);
  overflow: hidden;
  font-weight: bold;
  color: var(--color);
  border: var(--border);
  border-radius: var(--radius);
  height: var(--height);
  margin: var(--margin);
  padding: 0;
  outline: none;
  text-align: left;
  text-indent: 1rem;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: var(--color);
  color: var(--background);
}

.btn[data-value="1"],
.btn[data-value="1"]:active,
.btn[data-value="1"]:focus,
.btn[data-value="1"]:hover {
  background-color: var(--color);
  color: var(--background);
}

/*****************************
Titles
*****************************/
h3 {
  color: #fff;
}